{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{{ form_errors(registrationForm) }}
	<div class="bg-connexion-pattern w-full flex justify-center content-center">
		<div class="max-w-sm rounded overflow-hidden shadow-lg w-1/3 p-8">
			<div class="font-bold text-xl mb-8">Inscription</div>
			{{ form_start(registrationForm) }}
			<div class="flex flex-col mb-2">
				{{ form_label(registrationForm.username) }}
				{{ form_widget(registrationForm.username) }}
			</div>
			<div class="flex flex-col mb-2">
				{{ form_label(registrationForm.email) }}
				{{ form_widget(registrationForm.email) }}
			</div>
			<div class="flex flex-col mb-2">
				{{ form_label(registrationForm.plainPassword) }}
				{{ form_widget(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
			</div>
			<div class="flex flex-row mr-6">
				<span class="mr-2">J'accepte les conditions générales</span>
				{{ form_widget(registrationForm.agreeTerms) }}
			</div>
			<button type="submit" class="bg-transparent hover:bg-gradient-to-r from-pink to-purple text-blue-700 font-semibold hover:text-white-transparent py-2 px-4 border border-blue-500 hover:border-transparent rounded mt-8">S'inscrire</button>
			{{ form_end(registrationForm) }}
		</div>
	</div>

{% endblock %}
