{{ form_start(form) }}
{# {{ form_widget(form) }} #}
<div class="flex flex-col">
	{{ form_label(form.title) }}
	{{ form_widget(form.title) }}
</div>
<div class="flex flex-col">
	{{ form_label(form.content) }}
	{{ form_widget(form.content) }}
</div>
<div class="flex flex-col">
	{{ form_label(form.tags) }}
	{{ form_widget(form.tags, {'attr': {'class': 'block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline'}}) }}
</div>
<button class="bg-white-transparent hover:bg-gradient-to-r from-pink to-purple text-primary_color font-semibold hover:text-white-transparent py-2 px-4 border border-white-transparent hover:border-transparent rounded mt-8">{{ button_label|default('Créer le ticket') }}</button>
{{ form_end(form) }}
