{% extends 'base.html.twig' %}

{% block title %}Ticket
{% endblock %}

{% block body %}
	<div class="w-full flex justify-center content-center flex-col rounded pt-2">
		<div class="flex content-center flex-row justify-between m-4">
			<a href="{{ path('app_ticket_index') }}" class="bg-transparent hover:bg-gradient-to-r from-pink to-purple text-primary-color font-semibold hover:text-white-transparent py-2 px-4 border border-primary-color hover:border-none rounded" style="overflow: hidden;">
				Retour
			</a>
		</div>
	</div>
	<div class="m-4">
		<h1 class="font-bold">{{ ticket.title|capitalize }}</h1>

		<div class="flex flex-row space-x-10 my-2">
			{% if ticket.updated_at is defined and ticket.updated_at is not null  %}
				<span>Modifié le :
					{{ ticket.updatedAt|date('Y-m-d H:i:s') }}
				</span>
			{% endif %}
			{% if ticket.createdAt is defined and ticket.createdAt is not null  %}
				<span>Créé le :
					{{ ticket.createdAt|date('Y-m-d H:i:s') }}
				</span>
			{% endif %}
			{% if author.username is defined and author.username is not null  %}
				<span>Par :
					{{ author.username }}
				</span>
			{% endif %}
			{% if ticket.solved is defined and ticket.solved is not null  %}
				<span>Statut :
					{{ ticket.solved ? 'Cloturé' : 'Ouvert' }}
				</span>
			{% endif %}
		</div>
		<div class="flex flex-row space-x-10 my-2">
			{% if isAuthor %}
				<a href="{{ path('app_ticket_edit', {'id': ticket.id}) }}" class="bg-transparent hover:bg-gradient-to-r from-pink to-purple text-primary-color font-semibold hover:text-white-transparent py-0.5 px-2 border border-primary-color hover:border-none rounded-full" style="overflow: hidden;">
					Modifier
				</a>
			{% endif %}
			{% if isAuthor %}
				{% if ticket.solved %}
					<a href="{{ path('app_ticket_solve', {'id': ticket.id}) }}" class="bg-transparent hover:bg-gradient-to-r from-pink to-purple text-primary-color font-semibold hover:text-white-transparent py-0.5 px-2 border border-primary-color hover:border-none rounded-full" style="overflow: hidden;">
						Réouvrir
					</a>
				{% else %}
					<a href="{{ path('app_ticket_solve', {'id': ticket.id}) }}" class="bg-transparent hover:bg-gradient-to-r from-pink to-purple text-primary-color font-semibold hover:text-white-transparent py-0.5 px-2 border border-primary-color hover:border-none rounded-full" style="overflow: hidden;">
						Fermer
					</a>
				{% endif %}
				{{ include('ticket/_delete_form.html.twig') }}
			{% endif %}
		</div>

		<div class="bg-white-transparent rounded p-2 my-4">
			{{ ticket.content }}
		</div>
		<div>
			<h2 class="font-bold">Commentaires</h2>
			{% for response in ticket.comments %}
				<div class="bg-white-transparent rounded p-2 my-4">
					<div class="flex flex-col space-x-10 my-2">
						{% if response.updated_at is defined and response.updated_at is not null  %}
							<span>Modifié le :
								{{ response.updatedAt|date('Y-m-d H:i:s') }}
							</span>
						{% endif %}
						{% if response.createdAt is defined and response.createdAt is not null  %}
							<span>Créé le :
								{{ response.createdAt|date('Y-m-d H:i:s') }}
							</span>
						{% endif %}
						{% if response.author.username is defined and response.author.username is not null  %}
							<span>Par :
								{{ response.author.username }}
							</span>
						{% endif %}
					</div>
					<div class="mt-6">
					{{ response.content }}
					</div>
					{% if isAuthor %}
						<a href="{{ path('app_ticket_response_edit', {'id': response.id}) }}" class="bg-transparent hover:bg-gradient-to-r from-pink to-purple text-primary-color font-semibold hover:text-white-transparent py-0.5 px-2 border border-primary-color hover:border-none rounded-full" style="overflow: hidden;">
							Modifier
						</a>
						{{ include('ticket/_response_delete_form.html.twig') }}
					{% endif %}
				</div>
			{% endfor %}
		</div>
		<hr class="border border-purple m-4"/>
		<a href="{{ path('app_ticket_response', {'id': ticket.id}) }}" class="bg-transparent hover:bg-gradient-to-r from-pink to-purple text-primary-color font-semibold hover:text-white-transparent py-0.5 px-2 border border-primary-color hover:border-none rounded-full" style="overflow: hidden;">
			Ajouter un commentaire
		</a>
		<div></div>
	</div>
{% endblock %}
